:root {
  --msk-black-100: #000000;
  --msk-white-0: #ffffff;
  --msk-blue-10: #f0f5ff;
  --msk-blue-20: #b5cffd;
  --msk-blue-30: #92b6f5;
  --msk-blue-40: #77a1e9;
  --msk-blue-50: #4b7bd1;
  --msk-blue-60: #2b5cb3;
  --msk-blue-70: #113e90;
  --msk-blue-80: #002569;
  --msk-blue-90: #001641;
  --msk-blue-100: #00091a;
  --msk-warm-gray-10: #f7f3f2;
  --msk-warm-gray-20: #e5e0df;
  --msk-warm-gray-30: #cac5c4;
  --msk-warm-gray-40: #ada8a8;
  --msk-warm-gray-50: #8f8b8b;
  --msk-warm-gray-60: #726e6e;
  --msk-warm-gray-70: #565151;
  --msk-warm-gray-80: #3c3838;
  --msk-warm-gray-90: #272525;
  --msk-warm-gray-100: #171414;
  --msk-gray-10: #f4f4f4;
  --msk-gray-20: #e0e0e0;
  --msk-gray-30: #c6c6c6;
  --msk-gray-40: #a8a8a8;
  --msk-gray-50: #8d8d8d;
  --msk-gray-60: #6f6f6f;
  --msk-gray-70: #525252;
  --msk-gray-80: #393939;
  --msk-gray-90: #262626;
  --msk-gray-100: #141414;
  --msk-cool-gray-10: #f2f4f8;
  --msk-cool-gray-20: #dde1e6;
  --msk-cool-gray-30: #c1c7cd;
  --msk-cool-gray-40: #a2a9b0;
  --msk-cool-gray-50: #878d96;
  --msk-cool-gray-60: #697077;
  --msk-cool-gray-70: #4d5358;
  --msk-cool-gray-80: #343a3f;
  --msk-cool-gray-90: #21272a;
  --msk-cool-gray-100: #111417;
  --msk-cyan-10: #e5f6ff;
  --msk-cyan-20: #bae6ff;
  --msk-cyan-30: #82cfff;
  --msk-cyan-40: #33b1ff;
  --msk-cyan-50: #1192e8;
  --msk-cyan-60: #0072c3;
  --msk-cyan-70: #00539a;
  --msk-cyan-80: #003a6d;
  --msk-cyan-90: #012749;
  --msk-cyan-100: #051524;
  --msk-green-10: #e6ffe6;
  --msk-green-20: #c7fcc6;
  --msk-green-30: #8dde8b;
  --msk-green-40: #5fc05e;
  --msk-green-50: #3fa13d;
  --msk-green-60: #288326;
  --msk-green-70: #175e15;
  --msk-green-80: #0e450d;
  --msk-green-90: #072806;
  --msk-green-100: #010a01;
  --msk-magenta-10: #fff2f9;
  --msk-magenta-20: #ffc8e3;
  --msk-magenta-30: #ffa5d0;
  --msk-magenta-40: #ff85bf;
  --msk-magenta-50: #d9669d;
  --msk-magenta-60: #b34e7e;
  --msk-magenta-70: #85375c;
  --msk-magenta-80: #612743;
  --msk-magenta-90: #401a2c;
  --msk-magenta-100: #190b12;
  --msk-orange-10: #fff0e4;
  --msk-orange-20: #ffcdaa;
  --msk-orange-30: #ffab6f;
  --msk-orange-40: #ff8834;
  --msk-orange-50: #d8691a;
  --msk-orange-60: #b14d06;
  --msk-orange-70: #8a3900;
  --msk-orange-80: #632900;
  --msk-orange-90: #3c1900;
  --msk-orange-100: #140800;
  --msk-purple-10: #f7f3ff;
  --msk-purple-20: #e7d8ff;
  --msk-purple-30: #d6bdff;
  --msk-purple-40: #b49ae0;
  --msk-purple-50: #957ac1;
  --msk-purple-60: #785ea2;
  --msk-purple-70: #5c4583;
  --msk-purple-80: #432f64;
  --msk-purple-90: #2c1d45;
  --msk-purple-100: #170e26;
  --msk-red-10: #ffe4e3;
  --msk-red-20: #facdcb;
  --msk-red-30: #f4b1ad;
  --msk-red-40: #ef8b85;
  --msk-red-50: #e9534b;
  --msk-red-60: #e40d00;
  --msk-red-70: #a80900;
  --msk-red-80: #7a0700;
  --msk-red-90: #520400;
  --msk-red-100: #210200;
  --msk-teal-10: #edfffd;
  --msk-teal-20: #aff1eb;
  --msk-teal-30: #78e2da;
  --msk-teal-40: #5ec2ba;
  --msk-teal-50: #48a29b;
  --msk-teal-60: #34827c;
  --msk-teal-70: #215c57;
  --msk-teal-80: #14423f;
  --msk-teal-90: #092220;
  --msk-teal-100: #010302;
  --msk-yellow-10: #fcf4d6;
  --msk-yellow-20: #fddc69;
  --msk-yellow-30: #f1c21b;
  --msk-yellow-40: #d2a106;
  --msk-yellow-50: #b28600;
  --msk-yellow-60: #8e6a00;
  --msk-yellow-70: #684e00;
  --msk-yellow-80: #483700;
  --msk-yellow-90: #302400;
  --msk-yellow-100: #1a1300;
}
