@use '@mskcc/fundamentals/src/_variables.scss' as var;

$elements: h1, h2, h3, h4, h5, h6, p;

@each $el in $elements {
  #{$el} {
    font-family: var.$msk--global-font-family !important;
  }
}

pre,
code {
  &,
  * .token {
    font-family: var.$msk--monospace-font-family !important;
  }
}
